.container {
  font-family: "Google Sans Code", monospace;
  font-size: 12px;
  line-height: normal;
  padding: 8px;
  margin: 0;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  white-space: pre;
}
