name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v1

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: npm install and build
      run: |
        # build lib
        npm ci && npm run build
        # build landing page (demos/web)
        cd demos/web
        npm ci && npm run build
      env:
        CI: false # turn this on to turn warnings into errors

    - name: Deploy to gh-pages
      uses: JamesIves/github-pages-deploy-action@4.1.5
      with:
        branch: gh-pages # The branch the action should deploy to.
        folder: demos/web/dist # The folder the action should deploy.
